@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Finger+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo', sans-serif;
    font-size: 22px;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: top;
    }

header {
    font-size: 32px;
    letter-spacing: 3px;
    grid-column: 2 / span 1;
    font-family: 'Finger Paint', cursive;
}

.lastword {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.219);
    text-align: center;
    grid-column: 1 / span 1;
}

.displayedText {
    padding-left: 30px;
    grid-column: 2 / span 1;
    letter-spacing: 2px;
}

.score {
    grid-column: 2 / span 1;
}
